<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Shadow DOM Automation Tests">
    <test name="Shadow DOM Tests with Chrome Browser" enabled="false">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="ShadowDomTests">
                <methods>
                    <include name="testShadowDomRootOnChromeDownloadPage"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Shadow DOM Tests with Firefox Browser" enabled="false">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="ShadowDomTests">
                <methods>
                    <include name="testShadowDom"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Shadow DOM Tests on Watir Website" enabled="true">
        <parameter name="browser" value="remote-chrome"/>
        <classes>
            <class name="ShadowDomTests">
                <methods>
                    <include name="testShadowDomWatir"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Shadow Root Element Tests on HTMLElements Website" enabled="false">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="ShadowRootTests">
                <methods>
                    <include name="testFileMenuShadowRootElement"/>
                    <include name="testNewMenuShadowRootElement"/>
                    <include name="testEditMenuShadowRootElement"/>
                    <include name="testUndoMenuShadowRootElement"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Shadow Root Element Tests on HTMLElements Website on LambdaTest Cloud Grid" enabled="false">
        <parameter name="browser" value="remote-chrome"/>
        <classes>
            <class name="ShadowRootTests">
                <methods>
                    <include name="testFileMenuShadowRootElement"/>
                    <include name="testNewMenuShadowRootElement"/>
                    <include name="testEditMenuShadowRootElement"/>
                    <include name="testUndoMenuShadowRootElement"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Shadow DOM Tests on Selenium Playground Website" enabled="true">
        <parameter name="browser" value="remote-chrome"/>
        <classes>
            <class name="ShadowDomTests">
                <methods>
                    <include name="testShadowDomSeleniumPlayground"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->

</suite>